<div class='commentdetailPage'>
  <div class="container">
    <div class="commentContents">
      <div class="commentContents_title">
        <div>Comment title</div>
        <span><h2><%= markdown(@comment.title)%></h2></span>
      </div>
      <div class="commentContents_memo">
        <div>Memo</div>
        <span><div><%= markdown(@comment.memo)%></div></span>
      </div>
      <div class="commentContents_taskStatus">
        <div>Storage (現在の保管場所)</div>
        <span><div><%= markdown(@comment.task.title) %></div></span>
      </div>
      <div class="commentContents_btnArea">
        <%= link_to 'Edit', edit_task_comment_path(@comment.task, @comment), class: "edit_btn" %>
        <%= link_to 'Delete', task_comment_path(@comment.task, @comment), class: "text-danger delete_btn", method: :delete, data: { confirm: "このコメントを削除しても宜しいですか?" } %>
      </div>
    </div>
  </div>
</div>
