<header class="header2">
  <nav class="nav2">
    <ul class="header_menu2">
      <li class="nav-link">
        <%= @group.name %>
      </li>
      <ul class="header_menu2_inner2">
        <li><%= link_to "Create Group Tasks", new_group_task_path(@group), class: "nav-link listNew2" %></li>
        <li><%= link_to "Edit Group",edit_group_path(@group), class: "nav-link listNew3", method: :get %></li>
      </ul>
    </ul>
  </nav>
</header>

<div class="topPage">
  <div class="taskWrapper">
    <% @group.tasks.each do |task| %>
      <div class="task">
        <div class="task_header">
          <h2 class="task_header_title"><%= task.title %></h2>
          <div class="task_header_action">
             <%= link_to content_tag(:i, '', class: 'fas fa-trash'), task, method: :delete, data: { confirm: "#{task.title}を本当に削除しますか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_task_path(task)) %>
          </div>
        </div>
        <div class="commentWrapper">
           <div class="commentTask">
            <% task.comments.order(:order).each do |comment| %>
              <%= content_tag "div", id: "comment-#{comment.id}", data: { model_name: comment.class.name.underscore, update_url: task_comment_sort_path(comment.task, comment)} do %>
                <div class="comment">
                  <%= link_to task_comment_path(task, comment), class:"commentDetail_link" do %>
                    <div class="comment_title"><%= comment.title %></div>
                    <% if comment.memo.size > 0 %>
                      <div class="comment_detail is-exist"><i class="fas fa-bars"></i></div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>  
          </div>
          <div class="addComment">
            <i class="far fa-plus-square"></i>
            <%= link_to "Add Comments", new_task_comment_path(task), class: "addComment_link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



